body {
	font-family: Verdana, Arial, sans-serif;
	color: black;
	background-image: url("background.jpg");
	background-size: 30px 30px;
	margin: 0;
	font-size: 14px;
	line-height: 1.3em;
	width: 100%;
}

form {
	font-family: Arial, sans-serif;
	 width: 350px;
}

label {
	float: left;
	clear: left;
	display: inline-block;
	width: 100px;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}

input{
	margin-top: 10px;
  display: inline-block;
	float: left;
}

#mysubmit{
	margin-left: 110px;
}

#wrapping{
	width:80%;
	margin: auto;
	display:grid;
	background-color: #EACFB1;
	min-width: 800px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    5px 5px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.content {
	padding: 24px 40px;
	width: 650px;
}

header{
  background-color: white;
  height: 150px;
	border-bottom: solid 3px orange;

}
a {
	text-decoration: none;
	color:orange;
	font-size: 130%;
}

.logo {
	text-align: left;
	background-color: white;
	width: 40%;
	float:left;
}
.logo > img {
    max-width: 100%;
    max-height: 100%;
}

#menuButton {
	width: 40%;
	float:left;
	margin-top: 120px;
	color:orange;
	font-size: 130%;
}

#login {
	top: 10%;
	left: 88%;
	float:left;
	margin-top: 100px;
}


footer {
	font-size:80%;
	background-color: white;
	color: black;
	padding-bottom: 10px;
	width:100%;
	height: 250px;
	border-top: solid 3px orange;

}
footer img{
	max-width: 100%;
	max-height: 100%;
}
footer > h3{
	color:orange;
}
#left{
	float:left;
	width:50%;
	margin-left: 30px;
}

#right{
	margin-top: 40px;
	width:100%;
}

#homeButton{
	position: absolute;
	top: 10%;
	left: 25%;
	font-size: 200%;
}
